{{ $data := index .Site.Data .Site.Language.Lang }}
<!-- Header -->
<header id="header" {{- if .IsHome -}}class="alt"{{- end -}}>
    <h1>{{ with $data.globalheader.title }}{{ . | markdownify }}{{else}}{{ .Site.Title }}{{end}}</h1>
    <nav id="nav">
        <ul>
            {{- range .Site.Menus.main -}}
            <li>
                <a class="{{ .Pre }}" href="{{ .URL }}">{{ .Name }}</a>
                {{- if .HasChildren -}}
                <ul>
                    {{- range .Children -}}
                    <li><a class="{{ .Pre }}" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{- end -}}
                </ul>
                {{- end -}}
            </li>
            {{- end -}}
            {{ $button := $data.globalheader.button }}
            {{ if $button.enable }}
            <li><a href="{{ $button.link }}" class="button">{{ $button.title }}</a></li>
            {{ end }}
        </ul>
    </nav>
</header>